img {
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color:rgb(2, 14, 25);
    padding: 5px;
    margin-right: 300px;
}

header {
    background-color: rgb(87, 177, 255);
    padding: 30px;
    color: rgb(2, 14, 25);
    border-radius: 15px;
}

body {
    background-color:rgb(60, 122, 176)
}

#art {
    margin-top: 200px;
}