img {
    width: 300px;
    height: 300px;
    border-width: 2px;
    border-style: solid;
    border-color:rgba(2, 14, 25, 0);
    margin-right: 10%;
}

header {
    background-color: rgb(87, 177, 255);
    padding: 30px;
    color: rgb(2, 14, 25);
    border-radius: 15px;
}

body {
    background-color:rgb(60, 122, 176)
}

#art {
    overflow-x: scroll;
    margin-top: 200px;
    width: 98%;
    height: 300px;
    overflow-y: hidden;
    white-space: nowrap;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    background-color: rgb(50, 110, 161)
}

#art::-webkit-scrollbar {
    display: none;
}

footer {
    text-align: center;
}